<% include ../partials/header %>

    <div class="row">
      <div class="col-md-4">
          <div class="thumbnail">
              <h1><%= user.firstName + " " + user.lastName %></h1>
              <img src="<%= user.avatar %>" alt="user profile image">
              <div class="caption"><a href="mail to: <%= user.email %>"><%= user.email %></a></div>
          </div>
      </div>
      <div class="col-md-8">
          <h3><%= user.username %>'s campgrounds:</h3>
          <ul>
              <% campgrounds.forEach(function(campground){ %>
                  <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
              <% }); %>
          </ul>
      </div>
    </div>
  
<% include ../partials/footer %>